.Login-container {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: var(--base-text-weight-light, 300);
    letter-spacing: -0.5px;
}

.Login-header {
    font-size: 24px;
}

.Login-small-box {
    margin: 10px;
    padding: 5px;
    border-radius: 3%;
    width: 308px;
    height: 230px;
    border: 1px solid rgba(255, 255, 255, 0.336);
}

.Login-small-box * {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 70% !important;
    margin: 0 auto;
}

.Login-small-box a {
    float: right !important;
}

.Login-bottom-links {
    font-size: 15px;
}

.Login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}